<h1>HTML, CSS.....javascript?ruby?</h1>
<p><b>들어가는 말?</b> <br />
	우리의 수업의 1차 목적은 text editor하나로 다른툴없이 간단한 홈페이지를 만드는 것입니다. <br />
	생각하시는거 보다는 쉬울겁니다. <br />
	책으로 공부하는 학문??은 제 생각에는 '용어(terms)'와 '이해' 그리고 '기억' 생각합니다. <br />
	용어는 눈에 익히면 되고 이해는 하다보면 됩니다. <br />
	전 개인적으로 '기억'하는걸 잘못하지만 Google이 있기에 한번 이해하고 용어만 안다면 검색해보면 됩니다 ㅋㅋㅋ. <br />	
	8주안에 html, css의 기본을 익히고 시간이되면 javascript도 하면 좋겠죠??
</p>
<p>
	준비물: Labtop 과 <a href="http://www.sublimetext.com/2">this link</a> 에 들어가셔서 sublime text 2 라는 텍스트 에디터를 설치해 오시면 됩니다.<br />
	장소와 시간: 시간은 매주 목요일 7시, 장소는 정은누나 선교관 되는거예요? ㅋ 선교관안되면 조용한 커피숍하나 골라요ㅋ
</p>

<h2>Week1</h2>
<ol>
	<li>How the web Works</li>
	<ul>
		<li>request/respond</li>
		<li>DNS</li>
		<li>Browser</li>
		<li>local/remote</li>
		<li>Front - end, Back - end</li>
	</ul>
	<li>Structure</li>
	<ul>
		<li>elements</li>
		<li>tag</li>
		<li>attributes</li>
		<li>common elements samples</li>
		<li>list</li>
	</ul>
</ol>

<p>기본적으로 첫째시간은 지금 보고있는 페이지를 만든다고 생각하시면됩니다. <br />
</p>
<a href="/week2">Week 2</a>