.wrapperForAOW
	%header 
		%h1 Art of Web - Week 2
		%nav
			%ul
				%li= link_to "week1", "/week1/home"
				%li= link_to "week2", "/week2"
				%li week3
				%li week4
				%li week5
				%li week6
				%li week7
	%section.leftSide
		%article
			%figure
				%img= image_tag "Tiger.png"
			%hgroup
				%h2 Review 1
				%h3 Elements, Tags, Attributes
			%p 
				starting tag, ending tag, attribute name, vlaue. Check 
				=link_to "this web page", "http://www.w3schools.com/tags/"
				when you need to check the attributes and elements(tags).
		%article
			%figure
				%img= image_tag "cat.png"
			%hgroup
				%h2 New Topics
				%h3 id, class, images, comment, div, span, HTML5 Tags, basic CSS, Box, Inspectors
			%p We will make this simple Html5 web page!!
	%aside
		%section.rightSide
			%h2 Next Week??
			%p reset,float, position and more CSS. We can learn 960 grid system that will help you to design the structure of your webpages. There is two famouse framework - Foundation, Twitter Bootstrap. We can play with these two frameworks.

	%footer
		&copy 2013 Eung Jin Lee